[submodule "image_common"]
	path = image_common
	url = https://github.com/ros-perception/image_common.git

[submodule "image_pipeline"]
	path = image_pipeline
	url = https://github.com/ros-perception/image_pipeline.git

[submodule "image_transport_plugins"]
	path = image_transport_plugins
	url = https://github.com/ros-perception/image_transport_plugins.git

[submodule "vision_opencv"]
	path = vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git

[submodule "ros2_shared"]
	path = ros2_shared
	url = https://github.com/ptrmu/ros2_shared.git

[submodule "ros2_v4l2_camera"]
	path = ros2_v4l2_camera
	url = https://gitlab.com/boldhearts/ros2_v4l2_camera.git
